<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yisiwei.samesky"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 监听网络的变化 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.yisiwei.samesky.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yisiwei.samesky.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name="com.yisiwei.samesky.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!-- 登录 -->
        <activity
            android:name="com.yisiwei.samesky.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <!-- 注册 -->
        <activity
            android:name="com.yisiwei.samesky.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <!-- 设置 -->
        <activity
            android:name="com.yisiwei.samesky.activity.SettingActivity"
            android:screenOrientation="portrait" />
        <!-- 修改密码 -->
        <activity
            android:name="com.yisiwei.samesky.activity.UpdatePwdActivity"
            android:screenOrientation="portrait" />

        <receiver android:name="cn.bmob.newim.core.ConnectChangeReceiver" >
            <intent-filter>
                <action android:name="cn.bmob.action.RECONNECT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.bmob.newim.core.service.BmobImService"
            android:process=":bmobcore" />
        <service android:name="cn.bmob.newim.core.service.ReConnectService" />
        <service android:name="cn.bmob.newim.core.service.HeartBeatService" />

        <meta-data
            android:name="Bmob_APP_KEY"
            android:value="cdce6217f2b3ce2fa820501a7c972d8d" />
    </application>

</manifest>